<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>번</th>
				<th>제목</th>
				<th>작성 일시</th>
			</tr>
		<tbody>
			<!--th: 이거는 타임리프에서 사용하는 속성임을 나타냄. 이 부분이 자바코드와 연결 -->
			<!-- 타임리프는 Model 객체에 저장한 questionList를 ${questionList}로 읽을 수 있다. 위의 코드는 questionList에 저장된 데이터를 하나씩 꺼내 question 변수에 대입한 후 questionList의 개수만큼 반복하며 <tr> ... </tr> 문장을 출력하라는 의미이다. -->
			<tr th:each="question, loop : ${paging}">
				<td th:text="${loop.count}"></td>
				<td>
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
				</td> <!-- 상세페이지 url 연결 위해 타임리프의 th:href 속성 사용 (이때 url은 반드시 @{}에 입력해야함 + 링크 좌우에 | 입력 안하면 오류 발생. 타임 리프에서 ${}와 같은 자바 객체의 값을 더할 때는 반드시 |로 좌우를 감싸 주어야 함.) -->
				<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td> <!-- 위에 text랑 같은 방법 -->
			</tr>
		</tbody>
	</table>
	
	<!-- 페이징처리 시작 -->
	    <div th:if="${!paging.isEmpty()}">
	        <ul class="pagination justify-content-center">
	            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
	                <a class="page-link"
	                    th:href="@{|?page=${paging.number-1}|}">
	                    <span>이전</span>
	                </a>
	            </li>
	            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
					th:if="${page >= paging.number-5 and page <= paging.number+5}"
	                th:classappend="${page == paging.number} ? 'active'" 
	                class="page-item">
	                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
	            </li>
	            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
	                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
	                    <span>다음</span>
	                </a>
	            </li>
	        </ul>
	    </div>
	<!-- 페이징처리 끝 -->
	<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>